<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
           id="com.ginasystem.plugins.GinaPlugin"
      version="0.1.0">
    <name>GinaPlugin</name>
    <description>GinaPlugin PhoneGap Plugin used to get a unique device identifier used for signing into GINA network and other awesome stuff.</description>

    <!-- O'rly, Luke? -->
    <license>MIT</license>

    <keywords>phonegap</keywords>

    <js-module src="www/ginaplugin.js" name="GinaPlugin">
        <clobbers target="window.ginaplugin" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="GinaPlugin">
                <param name="android-package" value="com.ginasystem.plugins.GinaPlugin"/>
            </feature>
        </config-file>

        <source-file src="src/android/GinaPlugin.java" target-dir="src/com/ginasystem/plugins" />
        
        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.READ_PHONE_STATE" />
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
            <uses-permission android:name="android.permission.WAKE_LOCK" />
        </config-file>      
     </platform>   

     <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="GinaPlugin">
                <param name="ios-package" value="GinaPlugin" />
            </feature>
        </config-file>

        <!-- Note: the ios src is based off src/ios implicitly -->
        <header-file src="src/ios/DeviceInfo.h" />
        <source-file src="src/ios/DeviceInfo.m" />

        <framework src="UIKit.framework" />
    </platform>   

	<!-- windows8 -->
    <platform name="windows8">
        <js-module src="src/windows8/GinaPluginProxy.js" name="GinaPluginProxy">
            <merges target="" />
        </js-module>
    </platform>
    
</plugin>
