<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
           id="com.ginasystem.plugins"
      version="0.1.0">
    <name>DeviceInfo</name>
    <description>DeviceInfo PhoneGap Plugin used to get a unique device identifier used for signing into GINA networkß.</description>

    <!-- O'rly, Luke? -->
    <license>MIT</license>

    <keywords>phonegap</keywords>
ß

    <js-module src="www/deviceinfo.js" name="DeviceInfo">
        <clobbers target="window.deviceinfo" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="DeviceInfo">
                <param name="android-package" value="com.ginasystem.plugins.DeviceInfo"/>
            </feature>
        </config-file>

        <source-file src="src/android/DeviceInfo.java" target-dir="src/com/ginasystem/plugins" />
        
        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.READ_PHONE_STATE" />
        </config-file>      
     </platform>   

     <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="DeviceInfo">
                <param name="ios-package" value="DeviceInfo" />
            </feature>
        </config-file>

        <!-- Note: the ios src is based off src/ios implicitly -->
        <header-file src="src/ios/DeviceInfo.h" />
        <source-file src="src/ios/DeviceInfo.m" />

        <framework src="UIKit.framework" />
    </platform>       
</plugin>